@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
:root{

    /* primary */

    /* golden */
    --primary-gold: #C5A059;
    --edge-gold: #c59f5920;

    /* obsidiana */
    --bg-obsidian: #120B1A;
    --bg-obsidian-alpha: #120b1a8f;
    --bg-shadow: #1C1621;

    --text-alabastro: #F4F1EE;
     --text-alabastro-opacity: #f4f1eeae;
    --basalto: #2D2430;


    --gradient: linear-gradient(180deg,rgba(28, 22, 33, 0.202) 0%, rgba(18, 11, 26, 0.8) 100%);
    --gradient-secondary: linear-gradient(180deg,#120b1a2e 100% ,rgba(28, 22, 33, 0.66) 0% );

    /* spacing */

    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-56: 56px;
    --spacing-64: 64px;
    --spacing-72:72px;
    --spacing-80:80px;
    --spacing-88:88px;
    --spacing-96:96px;


    /* MAX WIDTH */

    --max-width:1024px;

}



