@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&amp;display=swap');

:root{

    /* primary */
    --primary-black: #110b14;
    --primary-white:  #F2F0EB;
    --primary-neutral: grey;

    /* zinc */
    --zinc-100:#f4f4f5;
    --zinc-200:#e4e4e7;
    --zinc-300:#d4d4d8;
    --zinc-500:#71717a;
    --zinc-800:#27272a;
    


    /* error */

    --error-500: #ef4444;


    /* Gradients */
    --gradient-100: linear-gradient(-75deg, oklab(69.932% -0.00936 -0.02109),oklab(44.027% 0.08821 -0.13394), oklab(44.027% 0.08821 -0.13394));

    /* spacing */

    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-56: 56px;
    --spacing-64: 64px;
    --spacing-72:72px;
    --spacing-80:80px;


    /* MAX WIDTH */

    --max-width:1024px;

}



